<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WishingWell</title>
</head>
<body>
<p>An error has occurred while trying to get your wishlist</p>
<p>The server said <code>{{.}}</code></p>
<p>Try refreshing or pressing the back button in your browser</p>
</body>
</html>